.menu-container {
  z-index: 9;
  position: fixed;
  inset: 0;
  background-color: #313131;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

.menu-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-panel a,
.menu-panel a:visited {
  text-decoration: none !important;

  display: inline-block;
}
