.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.link-container h1 {
  font-family: "Lora", sans-serif;
  font-weight: normal;
  color: #dfd8c9;
}

.line {
  width: 250px;
  height: 2px;
  background-color: #dfd8c9;
  margin: 0;
}
