.header-mobile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-desktop {
  display: none;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.header-desktop-link-container {
  display: flex;
  color: #dfd8c9;
  gap: 4rem;
  font-size: 16px;
  align-items: center;
  width: 70%;
  justify-content: space-around;
}

.header-desktop-link-container a {
  color: #dfd8c9;
  font-weight: 500;
  text-decoration: none;
}
.header-desktop-link-container a:hover {
  color: #e87461;
  transition-duration: 200ms;
}
.header-desktop-link-container h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
  width: fit-content;
}
@media (min-width: 576px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header-desktop-link-container {
    gap: 2rem;
  }
  .header-desktop-link-container h1 {
    font-size: 18px;
    white-space: nowrap;
  }
  .cart-icon-wrapper svg {
    font-size: 24px;
  }
  .back-arrow svg {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .header-desktop-link-container h1 {
    font-size: 24px;
  }
  .cart-icon-wrapper svg {
    font-size: 30px;
  }
  .back-arrow svg {
    font-size: 40px;
  }
}
