.header-container-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  height: 5rem;
  padding: 0 1rem;
  box-sizing: border-box;

  background-color: transparent;
  z-index: 50;

  display: flex;
  align-items: center;
}

.header-inner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-header-cart-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100px;
}
