.receipt-component {
  max-width: 800px;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 14px;
  gap: 1rem;
  background-color: var(--text-main);
  color: var(--bg-dark);
}
.recipt-empty {
  font-size: 1.5rem;
  margin: 5rem 0 5rem 0;
}
.receipt-logo {
  height: auto;
  width: 10rem;
}
.receipt-heading {
  font-size: 1.2rem;
  font-weight: 400;
}
.receipt-ordernumber {
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
}
.receipt-date {
  font-size: 0.7rem;
  font-style: italic;
}
.receipt-subheading {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.receipt-text {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.receipt-total {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.receipt-component button {
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .receipt-component {
    padding: 3rem 2.5rem;
    gap: 1.5rem;
  }
  .receipt-logo {
    width: 15rem;
    margin-bottom: 1rem;
  }
  .receipt-heading {
    font-size: 1.8rem;
  }
  .receipt-ordernumber,
  .receipt-date {
    font-size: 1.2rem;
  }
  .receipt-subheading {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .receipt-text {
    font-size: 1.1rem;
  }
  .receipt-total {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .receipt-component button {
    font-size: 1.7rem;
  }
}
