.wrapper {
  display: flex;
  flex-direction: column;
}

.category-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-bottom: 2rem;
}

.titles-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  font-weight: 400;
}

.item-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 0.5rem;
}

.qty-wrapper {
  text-align: center;
}
