.menu-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 4rem 0 3rem;
  padding-right: 3rem;
}

.menu-title {
  font-size: 2rem;
  font-weight: 400;
  color: #f5f0e6;
  margin: 0;
}

.menu-title-dash {
  display: inline-block;
  width: 2.5rem;
  height: 2px;
  background-color: #f46a4e;
  transform: translateY(1px);
}

.menu-list {
  display: grid;
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
  padding: 0 2rem;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .menu-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (min-width: 1024px) {
  .menu-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 6rem auto 4rem auto;
  }
}




