.logo-wrapper {
  position: relative;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 3rem 4rem;
}
.logo-full {
  height: auto;
  width: auto;
  position: relative;
  z-index: 2;
}
.logo-bamboo {
  position: absolute;
  width: auto;
  height: 150px;
  z-index: 1;
  pointer-events: none;
}
.logo-bamboo-left {
  top: 0;
  left: 0;
  transform: translate(-46%, -10%);
}
.logo-bamboo-right {
  right: 0;
  bottom: 0;
  transform: translate(45%, 65%);
}

@media (min-width: 576px) {
  .logo-full {
  height: 13rem;
}
.logo-bamboo {
  height: 11rem;
}
.logo-bamboo-left {
  top: 0;
  left: 0;
  transform: translate(-42%, -10%);
}
.logo-bamboo-right {
  right: 0;
  bottom: 0;
  transform: translate(41%, 65%);
}
}

@media (min-width: 768px) {
    .logo-full {
  height: 15rem;
}
.logo-bamboo {
  height: 13rem;
}
.logo-bamboo-left {
  top: 0;
  left: 0;
  transform: translate(-39%, -10%);
}
.logo-bamboo-right {
  right: 0;
  bottom: 0;
  transform: translate(39%, 65%);
}
}

@media (min-width: 1024px) {
      .logo-full {
  height: 17rem;
}
.logo-bamboo {
  height: 17rem;
}
.logo-bamboo-left {
  top: 0;
  left: 0;
  transform: translate(-35%, -10%);
}
.logo-bamboo-right {
  right: 0;
  bottom: 0;
  transform: translate(35%, 65%);
}
}
@media (min-width: 1200px) {
      .logo-full {
  height: 18rem;
}
.logo-bamboo {
  height: 20rem;
}
.logo-bamboo-left {
  top: 0;
  left: 0;
  transform: translate(-33%, -10%);
}
.logo-bamboo-right {
  right: 0;
  bottom: 0;
  transform: translate(33%, 65%);
}
}

