.button {
  display: block;
  margin: 0 auto;
  color: #f7f6f2;
  background-color: #e87461;
  border: none;
  border-radius: 999px;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  width: clamp(140px, 65vw, 320px);
  font-size: clamp(22px, 10vw, 28px);
  padding: clamp(10px, 4vw, 20px) 24px;
  line-height: 1;
}
